#header {
    text-decoration: none;
    background-color: #434758;
    color: #c8df00;
    font-family: "Overpass";
    font-size: 30px;
    padding: 13px 13px 10px 13px;
}

#header-text {
    margin-left:10px;
}

#header-text a {
	text-decoration: none;
	color: #c8df00;
}

#header-text-2 {
	margin-left: 5px;
	font-size: 20px;
	color: #b79fec;
}

#header-logo {
    vertical-align: middle;
}

#menu {
    font-family: "Overpass";
    text-decoration: none;
	clear: both;
    color: #efd8ff;
	overflow: hidden;
	background-color: #c8df00;
	padding: 0.7ex;
}

#menu a {
    color: #22232D;
}

#nav {
	margin: 0 1px 0 0;
	padding: 1em 0;
	width: 200px;
	height: 90vh;
    text-decoration: none;
    background-color: #434758;
    font-family: "Overpass";
}

#menu a:hover {
	background-color: #22232D;
	color: #afdf00;
}

#nav a {
    color: #22232D;
	border-left: 10px solid #22232D;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav-current a {
	border-left: 10px solid #afdf00;
	color: #afdf00;
}

#nav li ul {
	padding-left: 0.6em !important;
}

#nav li a {
	display: block;
	margin: 0;
	padding: 0.8ex 2em 0.8ex 1em;
}

#menu a, #nav a {
    text-decoration: none;
    padding: 10px 7px;
}

#nav a:hover {
	background-color: #22232D;
    color: #875fdf;
	border-left: 10px solid #875fdf;
}

html {
	height 100vh;
}

body {
    background-color: #f1f1f1;
    color: #000;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.left {
	float: left;
	margin: 0;
	padding: 0;
}

.right {
	float: right;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/overpass/v5/qFdH35WCmI96Ajtm81GrU9vyww.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/overpass/v5/qFdH35WCmI96Ajtm81GlU9s.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
